<div class="ml-4 flex w-full mt-6 mb-8 justify-center">
  <div class="w-4/5 flex shadow-lg flex-wrap rounded-xl justify-start bg-white">
    <div class="flex px-8 justify-end flex-wrap  w-full my-6">
      <h2 class="flex-1 text-grey-darker font-bold text-lg align-middle self-center ">Top Donors</h2>
      <div>
        {{#power-select options=months selected=filter searchEnabled=false triggerClass="px-4 w-24 text-purple rounded-full bg-white border-purple border py-3px text-sm font-thin float-right" onchange=(action "filterByMonth") as |month|}}
          {{month}}
        {{/power-select}}
      </div>
    </div>

    {{#if isEmpty}}
      <div class="mx-auto w-1/2 -mt-8 flex flex-wrap mb-4 pt-4">
        <div class="w-1/2 -mt-4 mb-8">
          <img src="/img/top-donors-placeholder.png" class="w-48">
        </div>
        <div class="w-1/2 -mt-8 self-center">
          <p class="text-grey-darker text-left font-hairline text-sm">Here you'll see the top donors to your cause each month.</p>
        </div>
      </div>
    {{/if}}

    {{#each orderedDonorsWithGiftsByMonth as |donor|}}
      {{donor-listing donor=donor}}
    {{/each}}


  </div>
</div>
