<p class="text-white text-sm uppercase font-bold mb-3">Most recent donation</p>
<p class="text-white font-bold text-2xl">{{format-currency gift.amount}}</p>
<p class="text-white text-sm mt-2">{{moment-format gift.timestamp 'MM/DD/YYYY'}} | {{gift.campaign.name}}</p>
