<p class="text-grey-darker text-lg my-4 pl-4">Coats for Canines</p>
<p class="text-purple text-2xl font-bold my-4 pl-4">{{{format-currency-default gift.amount}}} {{convert-frequency gift.frequency}} </p>
