<div class="flex align-bottom px-8 py-8">
  <div class="w-20 flex justify-center">
    <img src="/img/icons/Search.svg" class="w-6 self-center"/>
  </div>
  <div class="w-64 flex pl-8">
    <p class="text-grey-darker pl-8 self-center">Payment Success! <br /><span class="underline">Recurring</span></p>
  </div>
  <div class="flex-1 flex pl-8">
    <p class="text-grey-darker pl-8 self-center">$20 <br /><span class="">Coats for Canines</span></p>
  </div>
  <div class="w-32 flex justify-center">
    <p class="text-grey-darker self-center">{{moment-from-now item.timestamp}}</p>
  </div>
  <div class="w-48 flex justify-end">
    <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
    <span class="rounded-full inline-block h-2 w-2 items-center relative bg-grey-light self-center"></span>
    <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
  </div>
</div>
