/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/

.top-10 {
  top: -15px;
}

#one-time {
  stroke: #f2d024!important;
}

#recurring {
  stroke: #6d3eff!important;
}

.x-axis-group, .grid-lines-group {
      transform: translateX(36px);
}

.btn-blue {
  @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
  @apply .bg-blue-dark;
}

.purple-header {
  background: no-repeat;
  background-image: url('/img/Dashboard_BG.svg');
}

.no-logo {
   background-image: url('/img/inactive_org_no_logo.svg');
   background-size: cover;
}

.ember-power-select-status-icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 12px;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  background-image: url('/img/icons/ChevronDownPurple.svg');
  background-size: cover;
  border: none;
}

.ember-power-select-selected-item {
  margin-right: 20px;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-selected-item {
  font-style:italic;
}

.history-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-selected-item {
  font-style:normal;
}

.ember-power-select-trigger:focus, .ember-power-select-trigger--active {
  border-bottom: none;
}

/* .ember-basic-dropdown-trigger[aria-expanded="true"] {
    border-bottom: 1px solid #E5AD23!important;
} */

/* .history-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] {
  border-bottom: none!important;
} */

.ember-power-select-trigger:focus, .ember-power-select-trigger--active {
    border-top: 1px solid #6d3eff;
    border-bottom: 1px solid #6d3eff;
    border-right: 1px solid #6d3eff;
    border-left: 1px solid #6d3eff;
    box-shadow: none;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] {
  border-radius: 15px;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownPurple.svg');
}

.text-yellow .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownYellow.svg');
}

.history-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownPurple.svg');
}

.history-dropdown .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownPurple.svg');
}

.fonts .ember-power-select-option {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fonts .ember-power-select-options {
  color: #5b6b77;
}

.fonts .ember-power-select-options li {
  color: #5b6b77;
  text-align: left;
  padding-left: 10px;
}

.font .ember-power-select-selected-item .list-item {
  font-weight: bold;
  font-size: 0.9rem;
}

.font.ember-power-select-trigger:focus {
  border: 1px solid #dae1e7;
  border-radius: .5rem;
}

.font.ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"]{
  border: none;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
  border-radius: .5rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 2px solid #eccf8c;
  z-index: 10;
  color: #6d3eff;
}

.font .ember-power-select-status-icon {
  background-repeat: no-repeat;
  background-image: url(/img/icons/ChevronDownLight.svg);
  width: 12px;
  height: 12px;
  top: 5px;
  background-size: auto;
}

.font.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  top: 0px!important;
  background-image: url(/img/icons/ChevronDownPurple.svg);
}

.fonts .ember-power-select-option[aria-selected="true"] {
  font-weight: bold;
  color: #6d3eff;
  display: flex;
  justify-content: space-between;
}

.fonts .ember-power-select-option[aria-current="true"] {
  font-weight: bold;
  color: #6d3eff;
}


.fonts .ember-power-select-option[aria-selected="true"]::after {
  content: url('/img/icons/ConfirmPurple.svg');
  width: 12px;
}

.fonts .ember-power-select-option:first-of-type {
}


.fonts .ember-power-select-options[role="listbox"] {
  max-height: 15.7em;
}

.fonts.ember-power-select-dropdown {
  border: none;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.ember-power-select-option[aria-current="true"] {
  background-color: #fff;
}

.ember-power-select-options li:nth-child(even) {
  background-color: #EEF0F1!important;
}

.ember-power-select-options {
  color: #6E52C5;
}

.ember-power-select-options li {
  color: #6E52C5;
  text-align: center;
}

.ember-power-select-option[aria-current="true"] {
    font-weight: bold;
    color: #6E52C5;
}


.ember-power-select-options li:hover{
  color: #6E52C5;
}

.ember-power-select-dropdown {
    border: 1px solid #6E52C5;
}

.ember-power-select-option[aria-selected="true"] {
    background: none;
    color: none;
}

.ember-power-select-search-input {
  background-color: #6E52C5;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

.ember-power-select-search {
  padding: 0px;
}

.amount-dropdown, .frequency-dropdown {
  width: 100px!important;
  margin-left:13px;
}

.history-dropdown {
  width: 75px!important;
  margin-left: 13px;
}

.history-dropdown .ember-power-select-selected-item {
  margin-right: 0px;
}

.frequency .ember-power-select-trigger, .card .ember-power-select-trigger {
  padding-bottom: 13px;
}

.frequency .ember-power-select-status-icon, .card .ember-power-select-status-icon {
  margin-top: 15px;
}

.editing-overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(41,35,53,0.91);
   z-index: 10;
}

.cancel-overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(41,35,53,100);
   z-index: 30;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(-270deg);
}

.border-bottom-green {
  border-bottom: 7px solid #36C972;
  margin-bottom: 0px!important;
}

.border-bottom-red {
  border-bottom: 7px solid #BE1E2D;
  margin-bottom: 0px!important;
}

.mb-7px {
  margin-bottom: 7px;
}

.z-40 {
  z-index: 40;
}

.bg-new-chairs-for-the-emergency-waiting-room {
  background-color: #BE1E2D;
  background-image: url('/img/Active_donation_bg3.svg');
  background-size: cover;
}


.bg-10-new-beds-for-the-maternity-ward {
  background-color: #DBA41C;
  background-image: url('/img/Active_donation_bg2.svg');
  background-size: cover;
}

.sm-chart-height {
  min-height: 88px;
}

.icon-home {
  background-image: url('/img/icons/Home.svg');
  background-repeat: no-repeat;
}

.active .icon-home {
  background-image: url('/img/icons/HomeWhite.svg');
  background-repeat: no-repeat;
}

.icon-donors {
  background-image: url('/img/icons/Account.svg');
  background-repeat: no-repeat;
}

.active .icon-donors {
  background-image: url('/img/icons/Account-white.svg');
  background-repeat: no-repeat;
}

.icon-campaigns {
  background-image: url('/img/icons/CampaignManager.svg');
  background-repeat: no-repeat;
}

.active .icon-campaigns {
  background-image: url('/img/icons/CampaignManagerWhite.svg');
  background-repeat: no-repeat;
}

.icon-export {
  background-image: url('/img/icons/ExportManager.svg');
  background-repeat: no-repeat;
}

.active .icon-export {
  background-image: url('/img/icons/ExportManagerWhite.svg');
  background-repeat: no-repeat;
}

.icon-receipts {
  background-image: url('/img/icons/ReceiptManager.svg');
  background-repeat: no-repeat;
}

.active .icon-receipts {
  background-image: url('/img/icons/ReceiptManagerWhite.svg');
  background-repeat: no-repeat;
}

.icon-tags {
  background-image: url('/img/icons/TaggingManager.svg');
  background-repeat: no-repeat;
}

.active .icon-tags {
  background-image: url('/img/icons/TaggingManagerWhite.svg');
  background-repeat: no-repeat;
}

.contains:nth-child(odd) {
    background-color: #F7F9FA;
}

.focused {
  height: 10rem;
  margin-top: -10px;
  margin-bottom: -10px;
  box-shadow: 0 2px 4px 0 rgba(1,0,0,0.15);
  margin-right: 0!important;
}

.focused .focused-buttons {
  padding-right: 0px!important;
}

.ember-power-select-trigger:focus { outline:0 !important; }

g.tick line {
  display: none;
}

.c3-axis-y g.tick {
  display: none;
}

.c3-axis path {
  stroke: #5B6B77!important;
}

.c3 path {
  stroke-width: 2px;
}

.c3-circle {
  display: none;
}

._expanded_ {
  display: block;
}

g.tick text tspan {
  fill: #869CAB;
}

.c3-tooltip th {
  background-color: #6D3EFF!important;
}

.c3-tooltip-name--Ongoing-Gifts td {
  background-color: #F7F9FA!important;
}

/* color: #5b6b77; */

.c3-tooltip td {
  color: #5b6b77;
  border-left: none!important;

}

.hide {
  z-index: -5;
}

.w-420 {
  min-width: 420px;
  max-width: 420px;
}

.w-560 {
  min-width: 560px;
  max-width: 560px;
}

.w-480 {
  min-width: 480px;
  max-width: 480px;
}

.receipt-preview iframe {
  width: 1024px;
  height: 1050px;
}

.preview iframe {
  width: 1680px;
  height: 1800px;
}

.preview iframe.mobile {
  width: 375px;
  height: 650px;
}


.preview {
  position: relative;
  -ms-zoom: 0.58;
  -moz-transform: scale(0.58);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.58);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.58);
  -webkit-transform-origin: 0 0;
  transform: scale(0.58);
}

.preview.mobile {
  position: relative;
  -ms-zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
  transform: scale(1);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.full-screen.preview  {
  position: relative;
  -ms-zoom: 0.88);
  -moz-transform: scale(0.88);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.88);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.88);
  -webkit-transform-origin: 0 0;
  transform: scale(0.88);
}


.push-right-288 {
  left: 288px;
}

.radio-button input {
    opacity: 0;
    position: absolute;
}


.radio-button input, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

 .radio-custom-label {
    position: relative;
}

 .radio-button input + .radio-custom-label:before {
    content: '';
    background: #f7f9fa;
    border: 1px solid #5b6b77;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    margin-top: -2px;
}

.radio-button input + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-button input:checked + .radio-custom-label:before {
    background: #5b6b77;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-button input:focus + .radio-custom-label {
  outline: hidden;
}

.pell-actionbar {
  background: none;
}

.active .left-icon {
  background-color: #F0F0F0;
}

.pell-actionbar {
  padding-bottom: 5px;
  border-bottom: 2px solid #eccf8c;
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}

.pell-button, .pell-button:hover, .pell-button:active, .pell-button:focus {
  width: 18px;
  height: 18px;
  outline: none;
}

.pell-button .bold {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Bold.svg');
}

.pell-button.pell-button-selected .bold {
  background-image: url('/img/icons/BoldPurple.svg');
}

.pell-button .italic {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Italics.svg');
}

.pell-button.pell-button-selected .italic {
  background-image: url('/img/icons/ItalicsPurple.svg');
}

.pell-button .underline {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Underlined.svg');
}

.pell-button.pell-button-selected .underline {
  background-image: url('/img/icons/UnderlinedPurple.svg');
}

.pell-button .justify-right {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Right_aligned.svg');
}

.pell-button.pell-button-selected .justify-right {
  background-image: url('/img/icons/Right_aligned_Purple.svg');
}

.pell-button .justify-left {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Left_aligned.svg');
}

.pell-button.pell-button-selected .justify-left {
  background-image: url('/img/icons/Left_aligned_Purple.svg');
}

.pell-button .justify-center {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Center_aligned.svg');
}

.pell-button.pell-button-selected .justify-center {
  background-image: url('/img/icons/Center_aligned_Purple.svg');
}

.pell-button .justify-full {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Justified.svg');
}

.pell-button.pell-button-selected .justify-full {
  background-image: url('/img/icons/JustifiedPurple.svg');
}

.pell-button .link {
  width: 100%;
  height: 100%;
  background-image: url('/img/icons/Link.svg');
}

.pell-button.pell-button-selected .link {
  background-image: url('/img/icons/LinkPurple.svg');
}


.pell-button-selected {
  background: none;
}
