/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/

.top-10 {
  top: -15px;
}

#one-time {
  stroke: #f2d024!important;
}

#recurring {
  stroke: #6d3eff!important;
}

.x-axis-group, .grid-lines-group {
      transform: translateX(36px);
}
