<!-- Two columns -->

{{#if session.isAuthenticated}}

<div class="flex font-sans h-screen overflow-hidden">
  <div class="w-16 bg-purple-darkest h-screen min-h-screen">
    <div class="menu">
      <ul class="list-reset w-16 h-12 mt-6">
        <li class="py-2 text-grey-menu font-light flex justify-center h-12">
          <img src="/img/logo.png" class="w-8"/>
        </li>
        {{#link-to 'index'}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-2 mt-8"></span>
          <li class="py-1 mt-6 text-grey-menu font-light flex justify-center h-16">
            <span class="w-4 icon-home"></span>
          </li>
        {{/link-to}}
        {{#link-to 'campaigns'}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-2 mt-2"></span>
          <li class="py-1 text-grey-menu font-light flex justify-center h-16">
            <span class="w-6 icon-campaigns"></span>
          </li>
        {{/link-to}}
        {{#link-to 'donors'}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-2 mt-2"></span>
          <li class="py-1 text-grey-menu font-light flex justify-center h-16">
            <span class="w-4 icon-donors"></span>
          </li>
        {{/link-to}}
        {{#link-to 'receipts'}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-2 mt-2"></span>
          <li class="py-1 text-grey-menu font-light flex justify-center h-16">
            <span class="w-4 icon-receipts"></span>
          </li>
        {{/link-to}}
        {{#link-to 'export'}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-2 mt-2"></span>
          <li class="py-1 text-grey-menu font-light flex justify-center h-16">
            <span class="w-4 icon-export"></span>
          </li>
        {{/link-to}}
        <!-- {{#link-to 'tags'}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-2 mt-2"></span>
          <li class="py-1 text-grey-menu font-light flex justify-center h-16">
            <span class="w-4 icon-tags"></span>
          </li>
        {{/link-to}} -->


      </ul>
    </div>
  </div>
  {{outlet}}
</div>

{{else}}
  <div class="flex mx-auto font-sans min-h-screen">
    {{outlet}}
  </div>
{{/if}}
