<!-- Two columns -->
<div class="flex mx-auto font-sans h-screen overflow-hidden">
  <div class="w-16 bg-purple-darkest h-screen min-h-screen">
    <div class="menu">
      <ul class="list-reset w-16 h-12 mt-6">
        <li class="py-2 text-grey-menu font-light flex justify-center h-12">
          <img src="/img/logo.png" class="w-8"/>
        </li>
        <li class="py-2 text-grey-menu font-light flex justify-center h-12">
          <img src="/img/icons/homePurple.svg" class="w-4"/>
        </li>
        <li class="py-2 text-grey-menu font-light flex justify-center h-12">
          <img src="/img/icons/account.svg" class="w-4"/>
        </li>
        <li class="py-2 text-grey-menu font-light flex justify-center h-12">
          <img src="/img/icons/receipts.svg" class="w-4"/>
        </li>
        <li class="py-2 text-grey-menu font-light flex justify-center h-12">
         <img src="/img/icons/discover.svg" class="w-4 mx-auto"/>
        </li>
      </ul>
    </div>
  </div>

  {{outlet}}
</div>
