<div class="w-3/4 min-h-screen">
  <section class="h-44 mx-8">
    <div class="flex px-8 justify-end flex-wrap mx-8">

      <div class="w-1/2 pt-6">
        <p class="text-purple-darker mt-1"><span class="font-bold">Barks & Meows Shelter</span> | Dashboard</p>
      </div>

      <div class="w-1/2 text-right">
        <nav class="flex items-center justify-between flex-wrap p-6">
          <div class="w-full block flex-grow text-white">
            <div>
              <a class="inline-block mr-6 text-white no-underline align-middle" href="">
                <img src="/img/icons/Search.svg" class="w-4 align-middle" />
              </a>
              <a class="inline-block mr-6 text-white no-underline align-middle" href="">
                <img src="/img/icons/Bell.svg" class="w-4 align-middle" />
              </a>
              <a class="inline-block mr-1  no-underline" href="">
                <img src="/img/icons/account-white.svg" class="w-4 align-middle" />
              </a>
              <a class="inline-block no-underline text-grey-dark font-hairline text-sm align-middle" href="">
                Ian Knauer
              </a>
            </div>
          </div>
        </nav>
      </div>


      <div class="w-1/4">
      </div>
    </div>
  </section>
  <section class="mx-8 mt-6">
    <div class="flex mx-8 px-8">
      <div class="w-1/4">
        <p class="text-grey-dark font-hairline mb-2">Funds Raised This Year</p>
        <p class="text-purple font-bold text-2xl">$8,515</p>
      </div>
      <div class="w-1/4">
        <p class="text-grey-dark font-hairline mb-2">Average Donation</p>
        <p class="text-purple font-bold text-2xl">$25</p>
      </div>
      <div class="w-1/4">
        <p class="text-grey-dark font-hairline mb-2">Active Supporters</p>
        <p class="text-purple font-bold text-2xl">221</p>
      </div>
      <div class="w-1/4">
        <p class="text-grey-dark font-hairline mb-2">Active Campaigns</p>
        <p class="text-purple font-bold text-2xl">3</p>
      </div>
    </div>
  </section>
</div>
